{% extends 'base.html' %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
{% block title %} About VTM Inc {% endblock %}


{% block body %}

<div class="ipsum">
    <h2>About VTM</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.

        Sollicitudin aliquam ultrices sagittis orci a scelerisque. Lectus proin nibh nisl condimentum id venenatis a
        condimentum vitae. Vestibulum lectus mauris ultrices eros. Proin sagittis nisl rhoncus mattis rhoncus urna. Odio
        ut enim blandit volutpat maecenas. Interdum consectetur libero id faucibus nisl tincidunt. Enim ut sem viverra
        aliquet. Tortor pretium viverra suspendisse potenti nullam. A arcu cursus vitae congue mauris rhoncus.

        <br></br>

        Amet venenatis urna cursus eget nunc scelerisque viverra. Lorem mollis aliquam ut porttitor leo a diam.

        Tortor pretium viverra suspendisse potenti nullam ac. Netus et malesuada fames ac turpis egestas sed tempus.
        Quis enim lobortis scelerisque fermentum dui faucibus. Hendrerit dolor magna eget est lorem ipsum. In est ante
        in nibh. Vehicula ipsum a arcu cursus vitae congue mauris. Consectetur lorem donec massa sapien. Lorem dolor sed
        viverra ipsum nunc. Euismod lacinia at quis risus sed vulputate. Volutpat sed cras ornare arcu dui vivamus arcu
        felis bibendum.

        <br></br>

        Tortor pretium viverra suspendisse potenti nullam ac tortor vitae purus. Morbi blandit cursus risus at ultrices
        mi tempus imperdiet. Vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet. Arcu felis bibendum
        ut tristique et egestas quis ipsum suspendisse. Sagittis aliquam malesuada bibendum arcu vitae elementum
        curabitur vitae. Morbi enim nunc faucibus a pellentesque sit amet porttitor. In aliquam sem fringilla ut morbi
        tincidunt augue. Tincidunt lobortis feugiat vivamus at augue. Et malesuada fames ac turpis. Cras ornare arcu dui
        vivamus arcu felis. Urna id volutpat lacus laoreet.

        Et sollicitudin ac orci phasellus egestas. Leo vel orci porta non pulvinar neque laoreet. Varius duis at
        consectetur lorem donec massa sapien. Vitae congue eu consequat ac felis donec et. Faucibus nisl tincidunt eget
        nullam non nisi est sit amet. Scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis. Egestas
        erat imperdiet sed euismod nisi porta lorem mollis aliquam. At imperdiet dui accumsan sit amet nulla. Lacinia at
        quis risus sed vulputate odio ut enim. Mattis vulputate enim nulla aliquet.

        <br></br>

        Sed enim ut sem viverra aliquet eget sit amet. Massa ultricies mi quis hendrerit dolor magna eget. Nulla
        porttitor massa id neque aliquam vestibulum. Leo vel orci porta non pulvinar. Non sodales neque sodales ut etiam
        sit amet nisl. Massa enim nec dui nunc mattis enim ut tellus. Ultrices sagittis orci a scelerisque. Tempus
        iaculis urna id volutpat lacus laoreet. Cursus risus at ultrices mi tempus imperdiet nulla malesuada. Molestie a
        iaculis at erat pellentesque adipiscing commodo elit.

        Proin fermentum leo vel orci porta. Et tortor consequat id porta. Suscipit tellus mauris a diam maecenas sed
        enim ut. Ut morbi tincidunt augue interdum velit euismod in pellentesque. Convallis aenean et tortor at risus
        viverra. Blandit aliquam etiam erat velit scelerisque.
    </p>
</div>

{% endblock %}