{% extends 'base.html' %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
{% block title %} Vertical Tank Maintenence Inc.{% endblock %}


{% block body %}
<div>
    <div class="row">
        <div class="column">
            <figure>
                <img src="picture.jpg"/>
            </figure>
        </div>
    </div>
    
    <div class="container-lg">
        <h2>Our Services</h2>
        <hr/>
        <p>
            VTM offers services in Iowa, Illinois, and Indiana. We offer typical tank maintenance as well as tank
            painting
            services.

            Using our site you can get an estimate of how much it will cost to paint your Vertical Tanks.
            Just click the "Estimate" tab and enter the dimensions of your tank.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.

            Sollicitudin aliquam ultrices sagittis orci a scelerisque. Lectus proin nibh nisl condimentum id venenatis a
            condimentum vitae. Vestibulum lectus mauris ultrices eros. Proin sagittis nisl rhoncus mattis rhoncus urna.
            Odio
            ut enim blandit volutpat maecenas. Interdum consectetur libero id faucibus nisl tincidunt. Enim ut sem
            viverra
            aliquet. Tortor pretium viverra suspendisse potenti nullam. A arcu cursus vitae congue mauris rhoncus.

            <br></br>

            Amet venenatis urna cursus eget nunc scelerisque viverra. Lorem mollis aliquam ut porttitor leo a diam.

            Tortor pretium viverra suspendisse potenti nullam ac. Netus et malesuada fames ac turpis egestas sed tempus.
            Quis enim lobortis scelerisque fermentum dui faucibus. Hendrerit dolor magna eget est lorem ipsum. In est
            ante
            in nibh. Vehicula ipsum a arcu cursus vitae congue mauris. Consectetur lorem donec massa sapien. Lorem dolor
            sed
            viverra ipsum nunc. Euismod lacinia at quis risus sed vulputate. Volutpat sed cras ornare arcu dui vivamus
            arcu
            felis bibendum.

            <br></br>
        </p>
    </div>


</div>
<div>
    <table>

    </table>
</div>

{% endblock %}