{% extends 'base.html' %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
{% block title %} Price Calculator {% endblock %}

{% block body %}

<h2>Price Calculator</h2>

<form action="/calculate" method="POST">

    <label for="radius">
        Enter the radius of your tank in inches: <input type="text" id="radius" name="radius" required autofocus>
    </label>
    <br></br>
    <label for="height">
        Enter the height of your tank in inches: <input type="text" id="height" name="height" required>
    </label>
    <br></br>

    <input type="submit" value="calculate">

</form>

{% if myValue %}
<p>Your total cost is: ${{ myValue }}</p>
{% endif %}


{% endblock %}