{% extends 'base.html' %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
{% block title %} Price Calculator {% endblock %}

{% block body %}
<br>
<br>
<div class="container-md">
    <h2>Price Calculator</h2>
    <p>Calculate the estimated price for painting a tanker of any size</p>
    <form action="/calculate" method="POST">
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="radius" class="form-label">Radius of tank in inches:</label>
                <input type="text" class="form-control" id="radius" name="radius" placeholder="i.e. 10" required
                    autofocus>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="height" class="form-label">Height of tank in inches: </label>
                <input type="text" class="form-control" id="height" name="height" placeholder="i.e. 15" required>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" value="calculate">Calculate</button>
        <br>
        <br>
    </form>
{% if myValue %}
<p>Your estimated cost is: ${{ myValue }}</p>
{% endif %}
</div>
{% endblock %}